$primary-color: #F6742D;
$primary-color-darken: darken($primary-color, 10%);
$primary-color-darken2: darken($primary-color, 25%);
$primary-color-darken3: darken($primary-color, 35%);


$primary-color-lighten: lighten($primary-color, 15%);
$secondary-color: #ffec96;
$secondary-color-lighten: lighten($secondary-color, 15%);
$secondary-color-lighten2: lighten($secondary-color, 50%);


$second-color: #ffdd42;
$second-color-darken: darken($second-color, 10%);
$second-color-darken2: darken($second-color, 30%);

$purple-color: #ce5be4;
$purple-color-darken: darken($purple-color, 10%);
$purple-color-darken2: darken($purple-color, 30%);

$column-color: #e8f1f4;

$date-fade-color: #e8f1f4;

$body-line-height: 5em;

// $color-3: #4c4e42;
$color-3: $second-color-darken2;

$color-3-darken: darken($color-3, 10%);
$color-3-darken2: darken($color-3, 25%);
$color-3-darken3: darken($color-3, 35%);


// Drink colors
$beer-color: #F47D20;
$beer-color-darken: darken($beer-color, 10%);
$beer-color-lighten1: lighten($beer-color, 22%);
$beer-color-lighten2: lighten($beer-color, 10%);


$wine-color: #832C75;
$wine-color-darken: darken($wine-color, 10%);
$wine-color-lighten1: lighten($wine-color, 35%);
$wine-color-lighten2: lighten($wine-color, 15%);


$liquor-color: #ED1C24;
$liquor-color-darken: darken($liquor-color, 10%);
$liquor-color-lighten1: lighten($liquor-color, 30%);
$liquor-color-lighten2: lighten($liquor-color, 10%);


$mixeddrink-color: #94B831;
$mixeddrink-color-darken: darken($mixeddrink-color, 10%);
$mixeddrink-color-lighten1: lighten($mixeddrink-color, 25%);
$mixeddrink-color-lighten2: lighten($mixeddrink-color, 7%);

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Oswald:700|Alfa+Slab+One);



// Font Variables
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Arvo', serif;
$headline-font: 'Alfa Slab One', cursive;

// Breakpoints
$breakpoint-1: new-breakpoint(max-width 600px);
$breakpoint-2: new-breakpoint(min-width 601px);
$breakpoint-3: new-breakpoint(min-width 950px);
